{{ template "theme/header.html" . }}
<div class="container">
<div class="row">
{{ template "theme/navbar.html" . }}
</div>
 <div class="row blog-content">
  <div class="col-sm-6 blog-main col-sm-offset-2">
    <content>
<div class="intro">
   <h2>About</h2>
   <p>Well, here's an egotistical biography written from in the third person</p>
  </div>
  <hr class="clear-both"/>
  <ul>
   {{ range first 1 .Data.Pages }}
    {{ .Render "single" }}
   {{ end }}
  </ul>

    </content>
  </div>
  <div class="col-sm-2 blog-sidebar">
    {{ template "theme/sidebar.html" . }}
  </div>
  <div class="hidden-md hidden-lg">
    {{ template "theme/bottom-intro.html" . }}
  </div>
</div>
{{ template "theme/footer.html" . }}
</div>
</body>
