{{ template "theme/header.html" . }}
<div class="container">
<div class="row">
{{ template "theme/navbar.html" . }}
</div>
 <div class="row blog-content">
  <div class="col-sm-6 blog-main col-sm-offset-2">
    <content>
    <strong>Recent blog posts</strong>
      {{ range first 3 .Data.Pages }}
        {{ .Render "summary" }}
      {{ end }}
    <div class="blog-recents">
     <strong>Archive</strong>
      <ul>
      {{ range  .Data.Pages }}
        {{ .Render "li" }}
      {{ end }}
      </ul>
       
    </div>
    </content>
  </div>
  <div class="col-sm-2 blog-sidebar">
    {{ template "theme/sidebar.html" . }}
  </div>
  <div class="hidden-md hidden-lg">
    {{ template "theme/bottom-intro.html" . }}
  </div>
</div>
{{ template "theme/footer.html" . }}
</div>
</body>
