<div class="blog-masthead col-sm-8 col-sm-offset-2">
        <nav class="blog-nav pull-right">
            <a class="blog-nav-item" href="/"><span class='glyphicon glyphicon-home'></span>Home</a>
            <a class="blog-nav-item" href="/post/"><span class='glyphicon glyphicon-th-large'></span>Blog</a>
            <a class="blog-nav-item" href="/project/"><span class='glyphicon glyphicon-wrench'></span>Projects</a>
            <a class="blog-nav-item" href="/talks/"><span class='glyphicon glyphicon-file'></span>Talks</a>
            <a class="blog-nav-item" href="/about/"><span class='glyphicon glyphicon-asterisk'></span>About</a>
        </nav>
        <!--<a href='/' class='site-title hidden-xs hidden-sm pull-right'>Utkarsh Sinha</a> -->
</div>
