<div class="blog-masthead">
    <div class="container">
        <a href='/' class='site-title'><span class="glyphicon glyphicon-map-marker"></span>Utkarsh Sinha</a>
        <nav class="blog-nav">
            <a class="blog-nav-item" href="/"><span class="glyphicon glyphicon-flag"></span>Home</a>
            <a class="blog-nav-item" href="/blog"><span class="glyphicon glyphicon-th-large"></span>Blog</a>
            <a class="blog-nav-item" href="/projects"><span class="glyphicon glyphicon-wrench"></span>Projects</a>
            <a class="blog-nav-item" href="/about"><span class="glyphicon glyphicon-asterisk"></span>About</a>
        </nav>
    </div>
</div>
