  <!-- Text -->
  <section class="sidebar hidden-xs hidden-sm">
  <img src="/images/logo.png" />
  <header><h2>Utkarsh Sinha</h2></header>
   <p>Geek, Machine Learning, Python</p>
   <ul>
    <li class="author-social-linkedin"><a href="http://www.linkedin.com/profile/view?id=42850495" target="_blank">linkedin</a></li>
    <li class="author-social-github"><a href="http://github.com/liquidmetal" target="_blank">github</a></li>
    <li class="author-social-twitter"><a href="http://twitter.com/utkarshsinha" target="_blank">twitter</a></li>
    <li class="author-social-imdb"><a href="http://www.imdb.com/name/nm5069453/" target="_blank">imdb</a></li>
    <li class="author-social-rss"><a href="/index.xml" target="_blank">rss</a></li>
   </ul>
   <span id="weather" style='display: none;'>
      <hr />
      <span id='temperature'></span>&deg;C,
      <span alt='Humidity' id='humidity'></span>%
      <br/>
      <span class='weather-link'>(<a href='/weather'>Last week</a>)</a>
      <br/><small>Delivered via Raspberry pi</small>
   </span>
   <script type="text/javascript">
     function fetch_latest_weather() {
         var xmlhttp;
         if (window.XMLHttpRequest) {
           // code for IE7+, Firefox, Chrome, Opera, Safari
           xmlhttp=new XMLHttpRequest();
         } else {
           // code for IE6, IE5
           xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
         }
         xmlhttp.onreadystatechange = function() {
           if(xmlhttp.readyState == 4 && xmlhttp.status == 200) {
             obj = JSON.parse(JSON.parse(xmlhttp.responseText))

            series = obj.results[0].series
            hum = 0
            temp = 0
            light = 0
            for(i=0;i<3;i++) {
                if(series[i].name=='r_hum') 
                    hum = series[i].values[0][1]
                else if(series[i].name=='r_light')
                    light = series[i].values[0][1]
                else if(series[i].name=='r_temp')
                    temp = series[i].values[0][1]
            }

             document.getElementById('temperature').innerHTML = '<img src="/images/ico-temp.png" />' +Number(temp).toFixed(1);
             document.getElementById('temperature-bottom').innerHTML = '<img src="/images/ico-temp.png" />' +Number(temp).toFixed(1);
             document.getElementById('humidity').innerHTML = '<img src="/images/ico-humidity.png" />' + Number(hum).toFixed(1);
             document.getElementById('humidity-bottom').innerHTML = '<img src="/images/ico-humidity.png" />' + Number(hum).toFixed(1);
             document.getElementById('weather').style.display = 'block';
             document.getElementById('weather-bottom').style.display = 'block';
           }
         }
         xmlhttp.open('GET', '/get_weather_now', true);
         xmlhttp.send();
    }
   </script>
  </section>
