  </div>
 </div>
 <!-- Sidebar -->
 <div id="sidebar">
     
  <!-- Text -->
  <section class="is-text-style1">
  <img src="/images/logo.png" />
  <header><h2>Utkarsh Sinha</h2></header>
   <p>Geek, Machine Learning, Python</p>
   <ul>
    <li class="author-social-linkedin"><a href="#" target="_blank">linkedin</a></li>
    <li class="author-social-github"><a href="#" target="_blank">github</a></li>
    <li class="author-social-twitter"><a href="#" target="_blank">twitter</a></li>
   </ul>
  </section>
    

     </div>

