<!-- Post -->
 <div class='row blog-project'>
          <!--
           Note: Titles and bylines will wrap automatically when necessary, so don't worry
           if they get too long. You can also remove the "byline" span entirely if you don't
           need a byline.
          -->
  <div class="col-lg-1"><a href='{{ .Permalink }}'><img src="{{ .Params.thumbnail }}" /> </a></div>
  <div class="col-lg-offset-1 col-sm-9">
      <strong><a href="{{ .Permalink }}"><small>{{ .Title }}</small></a></strong>
      <div> {{ .Params.brief }} </div>
  </div>
 </div>
