/* Color scheme:
 * #55000D
 * #B83737
 * #FFCD76
 * #FFFD7B
 * #646A8F
 */

div.tool-list {
    float: right;
}

div.tool-list ul {
    padding-left: 0;
    display: inline-block;
}

div.tool-list li {
    display: inline-block;
    margin-left: 1em;
    padding-left: 20px;
    background-position: 0px 4px;
    background-repeat: no-repeat;
    font-style: italic;
}

li.tool-opencv {
  background: url(/images/ico-opencv.png);
}

li.tool-ffmpeg {
  background: url(/images/ico-ffmpeg.png);
}

li.tool-twisted {
  background: url(/images/ico-twisted.png);
}

li.tool-android {
  background: url(/images/ico-android.png);
}

li.tool-pyqt {
  background: url(/images/ico-qt.gif);
}

li.tool-cpp {
  background: url(/images/ico-cpp.png);
}

li.tool-python {
  background: url(/images/ico-python.png);
}

li.tool-rust {
  background: url(/images/ico-rust.png);
}

li.author-social-linkedin {
  background: url(/images/ico-linkedin.png) no-repeat 0px;
  padding-left: 20px;
  list-style: none;
}

li.author-social-github {
  background: url(/images/ico-github.png) no-repeat 0px;
  padding-left: 20px;
  list-style: none;
}

li.author-social-twitter {
  background: url(/images/ico-twitter.png) no-repeat 0px;
  padding-left: 20px;
  list-style: none;
}

li.author-social-imdb {
  background: url(/images/ico-linkedin.png) no-repeat 0px;
  padding-left: 20px;
  list-style: none;
}

.site-title {
  font-size: 24px;
  color: #787878;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.15);
}
.site-title:hover {
  text-decoration: none;
  background-color: #efefef;
  color: #787878;
}

nav {
  float: left;
  text-shadow: rgba(192,192,192,0.75) -1px -1px 0px;
}

nav ul > li {
  display: inline-block;
}

nav ul > li > a {
  color: #565656;
  text-decoration: none;
  font-weight: bold;
  padding-right:0.75em;
}

.clear-both {
  clear: both;
  padding-bottom: 10px;
}

#sidebar p {
  text-align: center;
}

content .intro {
  float: left;
}

content > ul {
  padding-left: 20px;
}

content h2 {
   font-size: 2em;
   display: block;
}

.is-post {
    padding-bottom: 1em;
}

#sidebar section:before {
    display: none;
}

#sidebar {
    padding-top: 0;
}

.date {
    float: right;
    clear: right;
    color: #999;
}

.tool-list .date {
    padding-left: 0;
    float: none;
    clear: none;
}

.blog-sidebar h2 {
    font-size: 1.5em;
    text-align: center;
}



/* 8888888888888888888888888888888 */
@media (min-width: 1200px) {
  .container {
      /*width: 760px;*/
    }

}

.blog-masthead {
/*  background-color: #B83737;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);*/
}

.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  font-weight: 200;
  color: #787878;
  text-shadow: 1px 1px 2px rgba(128, 128, 128, 0.25);
}
.blog-masthead span {
  margin-right: 6px;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #787878;
  text-decoration: none;
  background-color: #efefef;
}

section.sidebar {
  margin-top: 20px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fff;
}

.blog-content {
    padding-bottom: 4.1em;
}

body> .container {
  min-height: 100%;
  position: relative;
}

.blog-footer {
  text-align: center;
  color: #787878;
  height: 4em;

  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 0px;
}

.blog-footer p {
  padding-top: 1.2em;
}

.list-date {
  font-family: monospace;
  margin-right: 1em;
}

.post-list-item {
  margin-top: 0px;
  margin-bottom: 0px;
  list-style: none;
}

.bottombar img {
    float: left;
}

.bottombar {
margin: auto 0;
}

.bottombar .details {
    float: right;
}

.blog-recents {
    padding-top: 2em;
}

.blog-latest {
    padding-top: 2em;
}

.blog-project {
    margin-top: 2em;
}

.glyphicon {
    color: #ababab;
}

/* These should show up as links */
.blue-link {
    color: #428bca !important;
    font-size:0.75em;
}
