{{ template "theme/header.html" . }}
<div class="container">
<div class="row">
{{ template "theme/navbar.html" . }}
</div>
 <div class="row blog-content">
  <div class="col-sm-6 blog-main col-sm-offset-2">
    <content>

 <div class='intro'>
  <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
  <p>{{ .Params.brief }}</p>
 </div>

 <hr class="clear-both"/>
 <div class="info">
 </div>
<article class="is-post is-post-excerpt">
 {{ if .Params.postimage }}
 <a href="#" class="image image-full"><img src="{{ .Params.postimage }}" alt="" /></a>
 {{ end }}
 {{ if .Params.tools }}
 {{ end }}
 {{ .Content }}
</article>

    </content>
  </div>
  <div class="col-sm-2 blog-sidebar">
    {{ template "theme/sidebar.html" . }}
  </div>
  <div class="hidden-md hidden-lg">
    {{ template "theme/bottom-intro.html" . }}
  </div>
</div>
{{ template "theme/footer.html" . }}
</div>
</body>
