{{ partial "header.html" . }}
<section class="main">
    <div class="container">
        <div class="content">
            <div class='home-intro'>I'm Utkarsh Sinha and this is my blog. I currently work at Microsoft Research. In the past, I was <a href='http://www.ri.cmu.edu/person.html?person_id=3975'>part of the Robotics Institute</a> at Carnegie Mellon University in Pittsburgh and <a href='http://www.imdb.com/name/nm5069453/'>a Technical Director at DreamWorks Animation</a>. If you're curious, find out more <a href='/about/'>about me</a>.</div>

            <hr/>

            <div class='recent-blog'>
                <div class="page-heading">Recently on the blog</div>
                <ul>
                {{ range first 7 (where .Data.Pages.ByPublishDate "Type" "blog") }}
                    {{ .Render "li" }}
                {{ end }}
                <li>
                    <div class='post-item'>
                    <div class='meta'></div>

                    <a href='/blog/'>
                        <i class="icon ion-link"></i>
                        All posts
                    </a>
                    </div>
                </li>
                </ul>
            </div>

            <hr/>

            <div class='recent-project'>
                <div class="page-heading">Recent projects</div>
                <ul>
                {{ range first 1 (where .Data.Pages.ByPublishDate "Type" "project") }}
                    {{ .Render "summary" }}
                {{ end }}
                <div class='post-item project-item'>
                    <div class='meta'></div>
                    <a href="/project/">
                        <i class="icon ion-link"></i>
                        All projects
                    </a>
                    </div>
                </li>

                </ul>
            </div>
        </div>
    </div>
</section>
{{ partial "footer.html" . }}

