{{ template "theme/header.html" . }}
<div class="container">
<div class="row">
{{ template "theme/navbar.html" . }}
</div>
 <div class="row blog-content">
  <div class="col-sm-6 blog-main col-sm-offset-2">
   <div class="blog-header">
   {{ template "theme/home-intro.html" . }}
       </div>

    <content>
    <div class="blog-latest">
     <strong>Latest blog post</strong>
      {{ range first 1 .Data.Pages }}
        {{ .Render "summary" }}
      {{ end }}
    </div>
    <div class="blog-recents">
     <strong>Recent blog posts</strong>
      <ul>
      {{ range first 10 .Data.Pages }}
        {{ if eq .Type "post" }}
            {{ .Render "li" }}
        {{ end }}
      {{ end }}
      </ul>
      <a href="/post" class='pull-right btn btn-default'>All posts</a>
    </div>
    </content>
  </div>
  <div class="col-sm-2 blog-sidebar">
    {{ template "theme/sidebar.html" . }}
  </div>
  <div class="clearfix"> </div>
  <div class="hidden-md hidden-lg">
    {{ template "theme/bottom-intro.html" . }}
  </div>
</div>
{{ template "theme/footer.html" . }}
</div>
</body>
